.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 100dvw;
    background-color: bisque;
}

.title{
    font-size: 2rem;
}

.btnDiv{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.btn{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
}

